{% extends 'base.html' %}
{% load static %}
{% block title %}PortFolio{% endblock %}

{% block header %}
<header>
    <div class="container my-5">

    </div>
</header>
{% endblock %}

{% block contents %}
    <seciton>
        <div class="masthead-content">
            <div class="container mt-5">
                <h1 class="">モトヨシの<br>ポートフォリオ</h1>
                <p>Made of Django</p>
            </div>
        </div>
    </seciton>
    <section>
        <div class="container my-3 my_mokuji">
            <em class="mokuji">目次</em>
            <ul>
                <li><a href="#001">自己紹介</a></li>
                <li><a href="#002">RPAツール</a></li>
                    <ul>
                        <li><a href="#003">為替計算機</a></li>
                        <li><a href="#004">利益計算機</a></li>
                        <li><a href="#005">Twitter自動化</a></li>
                    </ul>
                <li><a href="#006">スクレイピング</a></li>
                    <ul>
                        <li><a href="#007">ECサイト一括起動</a></li>
                        <li><a href="#008">CS案件一括取得</a></li>
                    </ul>
                <li><a href="#009">機械学習</a></li>
                    <ul>
                        <li><a href="#010">決算情報の重回帰分析</a></li>
                        <li><a href="#011">決算情報のロジスティック回帰分析</a></li>
                    </ul>
                <li><a href="#012">サイト制作</a></li>
                    <ul>
                        <li><a href="#013">浪漫屋</a></li>
                        <li><a href="#014">Milano</a></li>
                        <li><a href="#015">サーバー引越し.com</a></li>
                    </ul>
                <li><a href="#016">スキル</a></li>
                <li><a href="#017">使用可能ツール</a></li>
            </ul>
        </div>
    </section>

    <section class="mt-4">
        <div class="container my-4">
            <h2 id="001">自己紹介</h2>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>名前</td>
                  <td>モトヨシ ヒロアキ</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>長所</td>
                  <td>勉強が好き・作業が丁寧</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>短所</td>
                  <td>アウトプットが少ない</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>趣味</td>
                  <td>読書</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>好きな本</td>
                  <td>反応しない練習</td>
                </tr>
              </tbody>
            </table>
            <div class="point">
                <ul>
                    <li><a href="https://twitter.com/ses_web_create" target="_blank">Twitterアカウント</a></li>
                    <li><a href="https://github.com/motoyoshihiroaki" target="_blank">GitHubアカウント</a></li>
                    <li><a href="#">履歴書のPDF</a></li>
                </ul>
            </div>

        </div>
    </section>

    <section class="mt-4">
        <div class="container my-4">
            <h2 id="002">RPAツール</h2>
                <p>福岡の友人が輸出業をしています。 Pythonのコーディング練習を
                兼ねて、友人の輸出業務を効率化できるツールを作成しました。
                </p>

                <div class="h3_area">
                    <h3 class="mt-4" id="003">為替計算機</h3>
                        <p><a href="https://www.oanda.jp/" target="_blank">OANDA Japan株式会社</a>様から
                            APIで4ヶ国の為替レートを取得して、一括で相関レートを計算します。</p>
                        <p>4つの数字を同時に かつ どの数字を説明変数にしても計算ができると
                            いう条件はGoogle検索で探しても見つからず数時間かけて計算方法を考えました。</p>
                        <em class="mt-4 font-weight-bold">ツールのポイント</em>
                        <div class="point">
                             <ul>
                                <li>Tikinterを使用</li>
                                <li>正確なレートで計算</li>
                            </ul>
                        </div>
                        <h4 class="mt-4">ツールの動作</h4>
                            <div class="movie-wrap mb-4">
                                <iframe width="1280" height="720" src="https://www.youtube.com/embed/EElHrUCf2_g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        <h4>GitHub</h4>
                            <a href="https://github.com/motoyoshihiroaki/Currency_Calc" target="_blank">>> 為替計算機のコード</a>
                </div>
                <hr>
                <div class="h3_area">
                    <h3 class="mt-4" id="004">利益計算機</h3>
                       <p>輸出では様々なサービスを利用します。そのサービス毎に手数料が発生し計算が複雑になります。<br>
                       このツールはリサーチをする際の計算の手間を省き、出品が決定した商品の情報をExcelに記録します。</p>
                        <em class="mt-4 font-weight-bold">ツールのポイント</em>
                        <div class="point">
                             <ul>
                                <li>TikinterでGUI化</li>
                                <li>輸出国の地域毎の計算</li>
                                <li>必要最低限の情報入力</li>
                                <li>在庫管理も考慮</li>
                            </ul>
                        </div>
                        <h4 class="mt-4">ツールの動作</h4>
                            <div class="movie-wrap mb-4">
                                 <iframe width="1280" height="720" src="https://www.youtube.com/embed/kBkddYL1SFc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        <h4>GitHub</h4>
                            <a href="https://github.com/motoyoshihiroaki/Profit_Calc" target="_blank">>> 利益計算機のコード</a>
                </div>
                <hr>
                <div class="h3_area">
                    <h3 class="mt-4" id="005">Twitter自動化</h3>
                    <p>ターゲット属性のユーザーのみを狙って「いいね、リツイート、フォロー」を一定間隔ランダムで行います。</p>
                    <p>どんな動きだと、フォローしてもらえるかな？と考えながら作成しました。このツールを使ってフォロワーが2000人を超えたときは達成感がありました。</p>
                        <em class="mt-4 font-weight-bold">ツールのポイント</em>
                        <div class="point">
                             <ul>
                                <li>人間らしい動き</li>
                                <li>エラー発生はLINEに通知</li>
                                <li>凍結されない工夫</li>
                                <li>非アクティブユーザーの排除</li>
                            </ul>
                        </div>
                        <h4 class="mt-4">ツールの動作</h4>
                            <div class="movie-wrap mb-4">
                                 <iframe width="1280" height="720" src="https://www.youtube.com/embed/kBkddYL1SFc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        <h4>GitHub</h4>
                            いいねbotを基本にコーディングしているので、他２つのコードはあまり変化していません。
                            <ul class="mt-2">
                                <li><a href="https://github.com/motoyoshihiroaki/Twiiter_Newfavo" target="_blank">いいねbot</a></li>
                                <li><a href="https://github.com/motoyoshihiroaki/Twiiter_Newfavo" target="_blank">リツイートbot</a></li>
                                <li><a href="https://github.com/motoyoshihiroaki/Twiiter_Newfavo" target="_blank">フォローbot</a></li>
                            </ul>
                </div>
        </div>
    </section>

    <section class="mt-4">
        <div class="container my-4">
            <h2 id="006">スクレイピング</h2>
                <div class="h3_area">
                    <h3 class="mt-4" id="007">ECサイト一括起動</h3>
                       <p>複数のECサイトで商品リサーチをする時間を短縮するために作成しました。<br>
                       並列処理（非同期処理）の実装が難点でしたが、大幅な時間の短縮に成功しました。</p>
                        <em class="mt-4 font-weight-bold">ツールのポイント</em>
                        <div class="point">
                             <ul>
                                <li>大幅な時短</li>
                                <li>「安い順」などの各条件で整列済み</li>
                                <li>同期処理の10倍以上高速</li>
                                <li>Chromeプロファイル情報の参照</li>
                            </ul>
                        </div>
                        <h4 class="mt-4">ツールの動作</h4>
                            <div class="movie-wrap mb-4">
                                 <iframe width="854" height="480" src="https://www.youtube.com/embed/rdyYyTN44R4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        <h4>GitHub</h4>
                            <a href="https://github.com/motoyoshihiroaki/EC_Research" target="_blank">>> ECサイト一括起動</a>
                </div>
                <hr>
                <div class="h3_area">
                    <h3 class="mt-4" id="008">CS案件一括取得</h3>
                        <p>複数のクラウドソーシングサイトから、特定カテゴリーの案件を抽出してSlackのグループに定期的に配信しています。</p>
                        <p>クラウドソーシングサイトに案件を探しにいく時間を毎日30分（3サイト/5分閲覧/1日2回 の場合）以上の削減になります。</p>
                        <p>Twiiterの固定ツイートにしていて、「いいね」を 800件以上いただいています。</p>
                        <em class="mt-4 font-weight-bold">ツールのポイント</em>
                        <div class="point">
                             <ul>
                                <li>大幅な時短</li>
                                <li>効率的に案件獲得ができる</li>
                            </ul>
                        </div>
                        <h4 class="mt-4">ツールの動作</h4>
                            <blockquote class="twitter-tweet"><p lang="ja" dir="ltr"># クラウドワークス を追加しました😊<br>ついでに見にくい箇所などを少しだけ修正しました🐍✨ <a href="https://t.co/8Y1TVwrbSq">pic.twitter.com/8Y1TVwrbSq</a></p>&mdash; Hiroaki (@ses_web_create) <a href="https://twitter.com/ses_web_create/status/1299158266572713984?ref_src=twsrc%5Etfw">August 28, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        <h4 class="mt-4">GitHub</h4>
                            <a href="https://github.com/motoyoshihiroaki/Job_List" target="_blank">>> CS案件一括取得</a>
                </div>

        </div>
    </section>

    {% comment %} <section class="mt-4">
        <div class="container my-4">
            <h2 id="009">機械学習</h2>
                <div class="h3_area">
                    <h3 class="mt-4" id="010">決算情報の重回帰分析</h3>
                       <p>日本の上場1部の企業の決算情報を四季報オンラインから収集しました。</p>
                       <p>３期前までの売上高や純利益などすべての項目から変化率を算出して、1年の変化率に
                       対してその年の株価がどうなるのか？という予測を計算しています。</p>
                        <em class="mt-4">分析のポイント</em>
                        <ul>
                            <li>制作中</li>
                        </ul>
                        <h4>分析結果</h4>
                            <p>表</p>
                        <h4>ソースコード</h4>
                            <P>GitHubを参照</P>
                </div>
                <hr>
                <div class="h3_area">
                    <h3 class="mt-4" id="011">決算情報のロジスティック回帰分析</h3>
                       <p>分析データは上記の重回帰分析と同じになります。</p>
                        <em class="mt-4">分析のポイント</em>
                        <ul>
                            <li>制作中</li>
                        </ul>
                        <h4>分析結果</h4>
                            <p>表</p>
                        <h4>ソースコード</h4>
                            <P>GitHubを参照</P>
                </div>
        </div>
    </section> {% endcomment %}

    <section class="mt-4">
        <div class="container my-4">
            <h2 id="012">サイト制作</h2>
                <div class="h3_area">
                    <h3 class="mt-4" id="013">金沢観光人力車 浪漫屋</h3>
                       <p>Pythonに直接は関係ないですが、webサイトを制作いたしましたので記載しています。
                           クラウドソーシングサイトからご注文をいただきました。seoやマーケティングの知識が少しありましたのでお客様とご相談しながら作成をしました。</p>
                        <p>このお客様のメインターゲットは25-35歳程度の女性なので、デザインは若めの女性向けが良いと思っていましたがお客様のご要望デザインを優先しました。</p>
                        <p>この経験のおかげで、会社の規則の重要性や科学的根拠に基づいた技術や知識とお客様のご要望のすり合わせの重要性が勉強になりとても貴重な経験だったと思っています。</p>

                        <h4 class="mt-4">WEBサイト情報</h4>
                            <a href="https://romanya-kanazawa.com/" target="_blank">>> 金沢観光人力車 浪漫屋<br><img class="img-fluid center-block" src="{% static 'img/romanya_01.png' %}" alt="浪漫屋 イメージ画像"></a>

                </div>
                <hr>
                <div class="h3_area">
                    <h3 class="mt-4" id="014">Milano</h3>
                        <p>練習用で作成したサイトになります。レスポンシブデザインでPCレイアウトでのみ表示するコンテンツやスマホで見た時にコンテンツが多すぎて見難くなることを避ける工夫などをしています。</p>
                        <h4 class="mt-4">WEBサイト情報</h4>
                            <a href="https://ses-marketing.net/site-creative" target="_blank">>> Milano<br><img class="img-fluid center-block" src="{% static 'img/milano.png' %}" alt="milano イメージ"></a>

                </div>
                <hr>
                <div class="h3_area">
                    <h3 class="mt-4" id="015">サーバー引越し.com</h3>
                        <p>練習用にスピード重視で作成しており４日で完成させました。</p>
                        <p>wordpressの構築から作成するとPHPやMySQLの勉強になりますが、膨大な時間がかかってしまいますのでテンプレートを使用しています。</p>

                        <h4 class="mt-4">WEBサイト情報</h4>
                            <a href="https://server-hikkoshi.com/" target="_blank">>> サーバー引越し.com<br><img class="img-fluid center-block" src="{% static 'img/servercom.png' %}" alt="サーバー引越し.com イメージ"></a>

                </div>
        </div>
    </section>

    <section class="mt-4">
        <div class="container my-4">
            <h2 id="016">スキル</h2>
                <div class="h3_area">
                    <h3>コーディング可能</h3>
                    <div class="point">
                         <ul>
                            <li>Python</li>
                            <li>HTML</li>
                            <li>SCSS</li>
                        </ul>
                    </div>
                    <hr class="my-5">
                    <h3>既存コードの編集が可能</h3>
                    <div class="point">
                         <ul>
                            <li>Javascript</li>
                            <li>MySQL</li>
                            <li>PHP</li>
                            <li>R</li>
                        </ul>
                    </div>
                </div>
        </div>
    </section>

    <section class="mt-4">
        <div class="container my-4">
            <h2 id="017">使用可能ツール</h2>
            <div class="point mt-4">
                <ul>
                    <li>Jupyter lab</li>
                    <li>Visual Studio Code</li>
                    <li>PyCharm</li>
                    <li>Virtual Box</li>
                    <li>Photoshop</li>
                    <li>Illustrator</li>
                    <li>Premiere Pro</li>
                </ul>
            </div>
            <h3>GitHub</h3>
            <a href="https://github.com/motoyoshihiroaki/pfapp" target="_blank">>> 当サイトのソースコード</a>
        </div>
    </section>
{% endblock %}